@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --default: #e2e8f0;
    --light: #f1f5f9;
    --dark: #cbd5e1;
    --text: #000;
    --accent: #ffbf00;
    --dark-accent: color-mix(in srgb, var(--accent), black 20%);
    --link: #38bdf8;
  }
}

.theme-system {
  @media (prefers-color-scheme: light) {
    --default: #e2e8f0;
    --light: #f1f5f9;
    --dark: #cbd5e1;
    --text: #000;
  }
  @media (prefers-color-scheme: dark) {
    --default: #43464a;
    --light: #5c5f63;
    --dark: #34373b;
    --text: #fff;
  }
}

.theme-light {
  --default: #e2e8f0;
  --light: #f1f5f9;
  --dark: #cbd5e1;
  --text: #000;
}

.theme-dark {
  --default: #43464a;
  --light: #5c5f63;
  --dark: #34373b;
  --text: #fff;
}

* {
  @apply select-none text-text;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent hover:bg-dark-accent;
}

html {
  @apply h-screen w-screen;
}

body {
  @apply min-w-[100vw] min-h-[100vh] overflow-hidden m-0 bg-default;
}

button,
.button {
  @apply cursor-pointer bg-light hover:bg-dark rounded-md;
  &:disabled {
    @apply bg-dark;
    &:hover {
      @apply bg-dark;
    }
  }
}

img {
  @apply pointer-events-none;
}

a {
  @apply cursor-pointer hover:text-link;
}

video {
  @apply object-fill aspect-video;
}
.no-volume-controls::-webkit-media-controls-volume-slider,
.no-volume-controls::-webkit-media-controls-mute-button {
  display: none;
}

h1 {
  @apply font-medium;
}

h6 {
  @apply font-light;
}

input,
textarea {
  @apply outline-0 p-1 rounded-md bg-light;
}

input[type="range"] {
  @apply appearance-none p-0 cursor-pointer bg-dark;
}

input[type="range"]::-webkit-slider-runnable-track {
  @apply rounded h-2;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-accent rounded w-2 h-7 -mt-[10px] hover:bg-dark-accent;
}

hr {
  @apply w-full h-0.5 bg-dark border-0;
}

.window-drag-region {
  -webkit-app-region: drag;
}
