@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.react-select {
  &__control {
    @apply cursor-pointer shadow-none border-none bg-dark group-hover:bg-light transition-colors duration-300 #{!important};
  }
  &__single-value {
    @apply text-text #{!important};
  }
  &__menu {
    @apply bg-dark w-max min-w-full #{!important};
    animation: scaleIn 0.1s ease-in-out;
  }
  &__option {
    @apply cursor-pointer #{!important};

    &--is-focused {
      @apply bg-light #{!important};
    }

    &--is-selected {
      @apply bg-yellow #{!important};
    }
  }
  &__indicator-separator {
    @apply bg-text #{!important};
  }
  &__indicator {
    @apply text-text #{!important};
  }
}
