@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes translateY {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.react-select-settings-item {
  &__control {
    @apply cursor-pointer shadow-none border-none bg-dark group-hover/settings-item:bg-light #{!important};
  }
  &__single-value {
    @apply text-text #{!important};
  }
  &__menu {
    @apply bg-dark w-max min-w-full transition-opacity #{!important};
    animation: scaleIn 0.1s;
  }
  &__option {
    @apply cursor-pointer #{!important};

    &--is-focused {
      @apply bg-light #{!important};
    }

    &--is-selected {
      @apply bg-accent #{!important};
    }
  }
  &__indicator-separator {
    @apply bg-text #{!important};
  }
  &__indicator {
    @apply text-text #{!important};
  }
}

.react-select-settings-navbar {
  &__control {
    @apply cursor-pointer shadow-none border-none bg-light group-hover/settings-item:bg-light w-full h-8 min-h-8 #{!important};
  }
  &__single-value {
    @apply text-text h-8 min-h-8 #{!important};
  }
  &__menu {
    @apply bg-dark w-max min-w-full transition-all #{!important};
    animation: translateY 0.3s;
  }
  &__option {
    @apply cursor-pointer h-8 min-h-8 flex items-center #{!important};

    &--is-focused {
      @apply bg-light #{!important};
    }

    &--is-selected {
      @apply bg-accent #{!important};
    }
  }
  &__indicator-separator {
    @apply hidden;
  }
  &__indicator {
    @apply text-text h-4 min-h-4 flex items-center #{!important};
  }
  &__control--menu-is-open &__indicator {
    @apply rotate-180 #{!important};
  }
}

.react-select-container * {
  transition: background-color 0.3s, color 0.3s, transform 0.3s !important;
}

.react-select-container.settings-navbar {
  @apply w-full;
}
